<mat-spinner *ngIf="isLoading"></mat-spinner>
<mat-accordion multi="true" *ngIf="recipes.length > 0 && !isLoading">
  <mat-expansion-panel *ngFor="let recipe of recipes">
    <mat-expansion-panel-header>
        {{ recipe.title }}
    </mat-expansion-panel-header>
    <div class="recipe_image">
      <img [src]="recipe.imagePath" [alt]="recipe.title">
    </div>
    <p>{{ recipe.content }}</p>
    <mat-action-row *ngIf="userIsAuthenticated">
      <a mat-button color="primary" [routerLink]="['/edit', recipe.id]">Edytuj</a>
      <button mat-button color="warn" (click)="onDelete(recipe.id)">Usuń</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<mat-paginator [length]="total"
              [pageSize]="recipePerPage"
              [pageSizeOptions]="pageSizeOptions"
              (page)="onChangedPage($event)"
              *ngIf="recipes.length > 0"
              aria-label="Select page">
</mat-paginator>
<p class="mat-body-1 info_text" *ngIf="recipes.length === 0 && !isLoading">Nie dodano żadnego przepisu.</p>
